<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>AirwayProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AvailFlights</display-name>
    <servlet-name>AvailFlights</servlet-name>
    <servlet-class>AvailFlights</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailFlights</servlet-name>
    <url-pattern>/AvailFlights</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FlightDetail</display-name>
    <servlet-name>FlightDetail</servlet-name>
    <servlet-class>FlightDetail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FlightDetail</servlet-name>
    <url-pattern>/FlightDetail</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FinalDetails</display-name>
    <servlet-name>FinalDetails</servlet-name>
    <servlet-class>FinalDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FinalDetails</servlet-name>
    <url-pattern>/FinalDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Success</display-name>
    <servlet-name>Success</servlet-name>
    <servlet-class>Success</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Success</servlet-name>
    <url-pattern>/Success</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment</display-name>
    <servlet-name>Payment</servlet-name>
    <servlet-class>Payment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment</servlet-name>
    <url-pattern>/Payment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Places</display-name>
    <servlet-name>Places</servlet-name>
    <servlet-class>Places</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Places</servlet-name>
    <url-pattern>/Places</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AvailFlight</display-name>
    <servlet-name>AvailFlight</servlet-name>
    <servlet-class>AvailFlight</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AvailFlight</servlet-name>
    <url-pattern>/AvailFlight</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payments</display-name>
    <servlet-name>Payments</servlet-name>
    <servlet-class>Payments</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payments</servlet-name>
    <url-pattern>/Payments</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment1</display-name>
    <servlet-name>Payment1</servlet-name>
    <servlet-class>Payment1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment1</servlet-name>
    <url-pattern>/Payment1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment2</display-name>
    <servlet-name>Payment2</servlet-name>
    <servlet-class>Payment2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment2</servlet-name>
    <url-pattern>/Payment2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment3</display-name>
    <servlet-name>Payment3</servlet-name>
    <servlet-class>Payment3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment3</servlet-name>
    <url-pattern>/Payment3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment4</display-name>
    <servlet-name>Payment4</servlet-name>
    <servlet-class>Payment4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment4</servlet-name>
    <url-pattern>/Payment4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Payment5</display-name>
    <servlet-name>Payment5</servlet-name>
    <servlet-class>Payment5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Payment5</servlet-name>
    <url-pattern>/Payment5</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass</display-name>
    <servlet-name>ChangePass</servlet-name>
    <servlet-class>ChangePass</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass</servlet-name>
    <url-pattern>/ChangePass</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Change</display-name>
    <servlet-name>Change</servlet-name>
    <servlet-class>Change</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Change</servlet-name>
    <url-pattern>/Change</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePass1</display-name>
    <servlet-name>ChangePass1</servlet-name>
    <servlet-class>ChangePass1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePass1</servlet-name>
    <url-pattern>/ChangePass1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginDirect</display-name>
    <servlet-name>LoginDirect</servlet-name>
    <servlet-class>LoginDirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginDirect</servlet-name>
    <url-pattern>/LoginDirect</url-pattern>
  </servlet-mapping>
</web-app>